body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
    box-sizing: border-box;
    font-size: 18px;
    font-family: monospace;
    font-stretch: expanded;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

textarea {
    margin: 20px 0;
    padding: 15px;
    width: 850px;
    font-size: 18px;
}

.button-container {
    width: 300px;
    display: flex;   
    justify-content: space-between;
    align-items: center; 
}